# Normalize line endings
* text=auto eol=lf

# Explicitly set line endings for CSS and HTML
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.go text eol=lf
*.js text eol=lf

# Keep batch files with CRLF
*.bat text eol=crlf
*.ps1 text eol=crlf
